html, body, main, div, p, h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    min-width: 100vw;
}
.header{
    background-color:blanchedalmond
}
.listado{
    display: flex
}
.listado li{
    padding-right: 200px;
    height: 130px;
    font-size: 70px;
    font-family: 'Dancing Script', cursive;
    list-style: none;
    transition: transform 0.3s;
}
a:visited{
    color: black;
} 
a{
    text-decoration: none;
}
.listado li:hover{
    transform: scale(1.2);
}
.FAimag{
    height: 130px;
    width: 100px;
}
.bn{
    font-size: 70px;
    font-family: 'Dancing Script', cursive;
    transition: color 0.5s;
}
.bn:hover{
    color: green;
}
.bn1{
    font-size: 70px;
    font-family: 'Shadows Into Light', cursive;
    transition: color 0.5s;
}
.bn1:hover{
    color: green;
}
.bn3{
    color: black;
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    transition: color 0.5s;
}
.bn3:hover{
    color:white;
}
.bn4{
    font-size: 70px;
    font-family: 'Dancing Script', cursive;
    padding-left: 500px;
    transition: transform 0.3s;
}
.bn4:hover{
    transform: scale(1.2);
}
.historia1{
    font-size: 30px;
    font-family: 'Shadows Into Light', cursive;
}
.historia{
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
}

.footer{
    background-color:blanchedalmond
}
.listadoDeAbajo {
    display: flex;
    justify-content: flex-end;
}
.listadoDeAbajo li{
    padding-right: 85px;
    height:130px;
    list-style: none;
}
.EDUANA{
    height: 130px;
    width: 170px;
    transition: transform 0.3s;;
}
.EDUANA:hover{
    transform: scale(1.2);
}
.CP{
    height: 70px;
    width: 250px;
    transition: transform 0.3s;
}
.CP:hover {
    transform: scale(1.2);
}
.IN{
    height: 70px;
    width: 70px;
    transition: transform 0.3s;
}
.IN:hover {
    transform: scale(1.2);
}
.WH{
    height: 70px;
    width: 70px;
    transition: transform 0.3s;
}
.WH:hover {
    transform: scale(1.2);
}
.FA{
    height: 70px;
    width: 70px;
    transition: transform 0.3s;
}
.FA:hover {
    transform: scale(1.2);
}

#miFormulario {
    width: 500px;
    margin: 0 auto;
    padding: 100px;
    border: 10px solid #ccc;
    background-color:blanchedalmond
}  
label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 10px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    width: 100%;
    background-color:darkgreen;
    color: white;
    padding: 40px 40px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color:green
}
.msj{
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
}
.maincontact{
    background-image: url('17276.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.mainIni{
    background-color:#7CA69A;
    background-size: cover;
    background-repeat: no-repeat;
}
.maincarre{
    background-color:#7CA69A;
    background-size: cover;
    background-repeat: no-repeat;
}
.mainnivels{
    background-color:#7CA69A;
    background-size: cover;
    background-repeat: no-repeat;
}
.carousel-container {
    display: flex;
    align-items: center;
    position: relative;
}
  
.carousel-slide {
    display: flex;
    overflow: hidden;
}
.carousel-slide img{
    height: 700px;
    width: 1080px;
}
.carousel-slide img:first-child {
    display: block;
}
button {
    cursor: pointer;
    background-color: #0074e4;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin: 10px;
    transition: background-color 0.3s ease;
}
      
button:hover {
    background-color: #005bac;
}
.Imagenes{
    height:100px;
    width: 100px;
}